@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,400;0,500;1,100;1,200;1,300;1,400&family=Kablammo&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Neutra', sans-serif; */
  font-family: 'Josefin Sans', sans-serif;
  /* font-family: 'Kablammo', cursive; */
  text-decoration: none;
  list-style-type: none;
}

body {
  overflow-x: hidden;
}

.sidebar {
  width: 280px;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  padding: 1rem;
  background: #232a3c;
  color: #fff;
  overflow: hidden;
  transition: left 0.5s, width 0.5s;
}
.sidebar.active {
  width: 0px;
  left: -100px;
  margin-left: 0;
}
.sidebar.active ~ .main-content {
  margin-left: 0;
}
.sidebar ~ .main-content header {
  width: calc(100% - 280px);
  left: 0px;
  margin-left: 280px;
}
.sidebar.active ~ .main-content header {
  width: 100%;
  margin-left: 0px;
}
.sidebar ul {
  margin-bottom: 2rem;
}
.sidebar .sidebar-brand {
  height: 100px;
  padding: 1rem 1.5rem;
}
.sidebar .sidebar-brand .brand-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sidebar .sidebar-brand .brand-flex .img-logo {
  width: 50px;
  height: 50px;
  object-fit: cover;
  cursor: pointer;
}
.sidebar .sidebar-brand .brand-flex .brand-icons span {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}
.sidebar .sidebar-menu {
  display: flex;
  flex-direction: column;
}
.sidebar .sidebar-menu .sidebar-user {
  margin: 0rem 0rem 1rem 0rem;
  text-align: center;
  font-size: 0.8rem;
}
.sidebar .sidebar-menu .sidebar-user img {
  width: 110px;
  height: 110px;
  margin: auto;
  object-fit: cover;
  border-radius: 50%;
  border-left: 2px solid transparent;
  border-right: 2px solid #efefef;
  border-top: 2px solid #efefef;
  border-bottom: 2px solid #efefef;
}
.sidebar .sidebar-menu .sidebar-menu {
  margin-top: 20px;
}
.sidebar .sidebar-menu .sidebar-menu .menu-head span.category {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 600;
  color: #8da2fb;
}
.sidebar .sidebar-menu .sidebar-menu .menu-head ul li {
  margin-top: 0.8rem;
}
.sidebar .sidebar-menu .sidebar-menu .menu-head ul li a {
  color: #efefef;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
}
.sidebar .sidebar-menu .sidebar-menu .menu-head ul li a span {
  font-size: 1.5rem;
  display: inline-block;
  margin-right: 0.8rem;
}

.main-content {
  position: relative;
  margin-left: 280px;
  transition: margin-left 0.5s, width 1s;
}
.main-content header {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  background: #efefef;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  position: fixed;
  z-index: 20;
  transition: all 0.5s;
  left: 280px;
  top: 0;
}
.main-content header .bar-label {
  width: 40px;
  height: 40px;
  font-size: 1.5rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
}
.main-content header .bars {
  cursor: pointer;
}
.main-content header .bar-label:hover {
  background: #fff;
}
.main-content header .header-icons span {
  font-size: 1.5rem;
  margin-left: 0.5rem;
  cursor: pointer;
  transition: all 0.4s;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.main-content header .header-icons span:hover {
  font-weight: 800;
  transform: translatey(-5px);
}
.main-content main {
  padding: 1rem 1.5rem;
  background: #f1f5f5;
  height: calc(100% - 70px);
}
.main-content main .page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 70px;
}
.main-content main .page-header .content {
  width: 70%;
}
.main-content main .page-header .header-actions {
  width: 30%;
}
.main-content main .page-header .header-actions button {
  margin-bottom: 0.4em;
  margin-left: 0.8rem;
  padding: 0.6em 1em;
  border: none;
  outline: none;
  background: #5850ec;
  color: #fff;
  font-weight: 600;
  border-radius: 3px;
  text-transform: uppercase;
  cursor: pointer;
}
.main-content main .page-header .header-actions button span {
  font-size: 1.2rem;
  margin-right: 0.6em;
  margin-bottom: 0.4em;
}
.main-content main .cards {
  margin: 3em 0em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 0.7em;
  justify-content: space-between;
  align-items: center;
}
.main-content main .cards .card-single {
  flex: 0 0 32%;
  margin: 1% 0;
  display: flex;
  min-width: 250px;
  cursor: pointer;
}
.main-content main .cards .card-single .card-flex {
  background: #fff;
  width: 100%;
  padding-right: 0.8em;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 0.5em;
  border-radius: 5px;
  box-shadow: 0 10px 6px -6px #777;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-content main .cards .card-single .card-flex .card-chart span {
  font-size: 4rem;
}
.main-content main .cards .card-single .card-flex .card-chart .orange {
  color: orange;
}
.main-content main .cards .card-single .card-flex .card-chart .green {
  color: green;
}
.main-content main .cards .card-single .card-flex .card-info {
  position: relative;
}
.main-content main .cards .card-single .card-flex .card-info .card-head {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.4em;
}
.main-content main .cards .card-single .card-flex .card-info .card-head span {
  text-transform: uppercase;
  font-weight: 600;
}
.main-content main .cards .card-single .card-flex .card-info .cost {
  font-size: 1.8em;
  font-weight: 600;
}

section.body {
  display: flex;
  flex-direction: row;
}
section.body .action-needed {
  width: 20%;
  margin-right: 0.6em;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background: #fefefe;
}
section.body .action-needed .card {
  width: 100%;
  padding: 0.5em 0.3em 1em 0.5em;
}
section.body .action-needed .card .header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2em;
  margin: 0;
  width: 100%;
}
section.body .action-needed .card .header .title {
  font-size: 1.2em;
  font-weight: 700;
}
section.body .action-needed .card .header .more {
  font-size: 1.6em;
  font-weight: 800;
  cursor: pointer;
}
section.body .action-needed .card .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section.body .action-needed .card .content .progress-chart {
  width: 120px;
  height: 120px;
  background: #fff;
  border-radius: 50%;
  border: 7px solid #5850ec;
  border-left: 5px solid transparent;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
section.body .action-needed .card .content .progress-chart span {
  font-size: 1.5em;
  font-weight: 700;
}
section.body .action-needed .card .content .details {
  margin-top: 2em;
  margin-bottom: 2em;
  font-size: 0.8rem;
}
.highlight {
  color: rgba(55, 115, 172, 0.764);

  font-weight: bold;
}
section.body .action-needed .card .content input[type=button] {
  margin-left: 0.8rem;
  padding: 0.6em 1em;
  border: none;
  outline: none;
  background: #5850ec;
  color: #fff;
  font-weight: 600;
  border-radius: 3px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.5s;
}
section.body .action-needed .card .content input[type=button]:hover {
  letter-spacing: 2px;
}
section.body .jobs {
  width: 80%;
}
section.body .jobs .header {
  padding-bottom: 10px;
}
section.body .jobs .header h3 {
  font-size: 1.4rem;
  font-size: 1.4rem;
  font-weight: 600;
}
section.body .jobs .header span {
  font-size: 0.95rem;
  margin-left: 1.1em;
  color: #5850ec;
  cursor: pointer;
}
section.body .jobs .header i {
  font-size: 0.95rem;
  color: #5850ec;
  cursor: pointer;
  margin: 0;
  padding: 0;
}
section.body .jobs .table-responsive {
  overflow-x: auto;
}
section.body .jobs .table-responsive table {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.8em;
}
section.body .jobs .table-responsive table tbody tr:nth-child(odd) span {
  background: #fff4de;
}
section.body .jobs .table-responsive table tbody tr:nth-child(even) span {
  background: #c9f7f5;
}
section.body .jobs .table-responsive table tbody tr td div {
  background: #fff;
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding: 0.5em;
  height: 60px;
  display: flex;
  align-items: center;
}
section.body .jobs .table-responsive table tbody tr td div span {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
section.body .jobs .table-responsive table tbody tr td div button {
  margin-left: 0.8rem;
  padding: 0.6em 1em;
  border: none;
  outline: none;
  background: midnightblue;
  color: #fff;
  font-weight: 600;
  border-radius: 3px;
  text-transform: uppercase;
  cursor: pointer;
  overflow-wrap: break-word;
  font-size: 0.8em;
}

.body-label {
  display: none;
  position: fixed;
  height: 100%;
  width: calc(100% - 280px);
  z-index: 30;
  top: 0;
  right: -100%;
}



@media only screen and (max-width: 1124px) {
  .sidebar {
    z-index: 1000;
  }

  .sidebar ~ .body-label {
    right: 0;
    display: block;
  }

  .sidebar.active ~ .body-label {
    display: none;
  }

  section.body .action-needed {
    width: 40%;
  }

  section.body .jobs {
    width: 60%;
  }

  .sidebar ~ .main-content header {
    width: 100%;
    margin-left: 0px;
  }

  .sidebar.active ~ .main-content header {
    width: 100%;
  }

  .main-content {
    margin-left: 0px;
  }
}
@media only screen and (max-width: 810px) {
  .main-content main .page-header .header-actions {
    width: 40%;
  }

  .main-content main .page-header .content {
    width: 60%;
  }
}
@media only screen and (max-width: 640px) {
  section.body {
    flex-direction: column;
  }

  section.body .action-needed {
    width: 100%;
  }

  section.body .jobs {
    width: 100%;
  }

  .main-content main .page-header {
    flex-direction: column;
  }

  .main-content main .page-header .header-actions {
    width: 100%;
  }

  .main-content main .page-header .content {
    width: 100%;
    margin-bottom: 0.6em;
  }
}
@media only screen and (max-width: 555px) {
  .sidebar {
    width: 60%;
  }
}